name: Android CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Run Unit Tests
      run: ./gradlew testDevelopDebugUnitTest

    - name: Build with Gradle
      run: ./gradlew assembleDevelopDebug assembleProductionRelease

    - name: Upload Develop Debug APK
      uses: actions/upload-artifact@v4
      with:
        name: app-develop-debug
        path: app/build/outputs/apk/develop/debug/*.apk

    - name: Upload Production Release APK
      uses: actions/upload-artifact@v4
      with:
        name: app-production-release
        path: app/build/outputs/apk/production/release/*.apk
